@inherits LayoutComponentBase
@inject NavigationManager Navigation

@* Verificação para desabilitar o menu lateral na página de login *@
@{
    bool showSideBar = true;
    if (Navigation.Uri.Contains("/login") || Navigation.Uri.Contains("/sign-up"))
    {
        showSideBar = false;
    }
}

<div class="page">
    
    @if(showSideBar)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }
        <main>
            @*<div class="top-row px-4">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>*@

            <article class="content px-4">
                @Body
            </article>
        </main>
    
</div>
