@page "/device-monitor"

<TopBar titulo="Device 1"/>

<div class="cpu-info">
    <div class="row">
        <div class="col-4">
            <CircularBar/>
        </div>
        <div class="col-4">
        </div>
        <div class="col-4">
        </div>
    </div>
</div>

@code {

}
