@page "/device-monitor"

<TopBar titulo="Device 1"/>

<div class="cpu-info">
    <div class="row" id="cpu-stats">
        <h5>CPU: AMD Ryzen 5 5600G</h5>
        <div class="col-4">
            <div class="container circular-bar">
                <div class="circular-progress">
                    <span class="progress-value">0%</span>
                </div>
                <span class="text">USE</span>
            </div>
        </div>
        <div class="col-4">
            <div class="container circular-bar">
                <div class="circular-progress">
                    <span class="progress-value">0%</span>
                </div>
                <span class="text">TEMP.</span>
            </div>
        </div>
        <div class="col-4">
            <div class="container circular-bar">
                <div class="circular-progress">
                    <span class="progress-value">0%</span>
                </div>
                <span class="text">CLOCK SPEED</span>
            </div>
        </div>
    </div>

    <div class="row" id="gpu-stats">
        <h5>CPU: AMD Ryzen 5 5600G</h5>
        <div class="col-4">
            <div class="container circular-bar">
                <div class="circular-progress">
                    <span class="progress-value">0%</span>
                </div>
                <span class="text">USE</span>
            </div>
        </div>
        <div class="col-4">
            <div class="container circular-bar">
                <div class="circular-progress">
                    <span class="progress-value">0%</span>
                </div>
                <span class="text">TEMP.</span>
            </div>
        </div>
        <div class="col-4">
            <div class="container circular-bar">
                <div class="circular-progress">
                    <span class="progress-value">0%</span>
                </div>
                <span class="text">CLOCK SPEED</span>
            </div>
        </div>
    </div>

    <div class="row" id="storage-stats">
        <h5>CPU: AMD Ryzen 5 5600G</h5>
        <div class="col-4">
            <div class="container circular-bar">
                <div class="circular-progress">
                    <span class="progress-value">0%</span>
                </div>
                <span class="text">USE</span>
            </div>
        </div>
        <div class="col-4">
            <div class="container circular-bar">
                <div class="circular-progress">
                    <span class="progress-value">0%</span>
                </div>
                <span class="text">TEMP.</span>
            </div>
        </div>
        <div class="col-4">
            <div class="container circular-bar">
                <div class="circular-progress">
                    <span class="progress-value">0%</span>
                </div>
                <span class="text">CLOCK SPEED</span>
            </div>
        </div>
    </div>

    <div class="row" id="ram-stats">
        <h5>CPU: AMD Ryzen 5 5600G</h5>
        <div class="col-4">
            <div class="container circular-bar">
                <div class="circular-progress">
                    <span class="progress-value">0%</span>
                </div>
                <span class="text">USE</span>
            </div>
        </div>
        <div class="col-4">
            <div class="container circular-bar">
                <div class="circular-progress">
                    <span class="progress-value">0%</span>
                </div>
                <span class="text">TEMP.</span>
            </div>
        </div>
        <div class="col-4">
            <div class="container circular-bar">
                <div class="circular-progress">
                    <span class="progress-value">0%</span>
                </div>
                <span class="text">CLOCK SPEED</span>
            </div>
        </div>
    </div>
</div>

@code {

}
